In [6]:
import pandas as pd
import datetime
import numpy as np
import os

In [9]:
April_Data = os.path.join("Resources", "JC-201904-citibike-tripdata.csv")
May_Data = os.path.join("Resources", "JC-201905-citibike-tripdata.csv")
June_Data = os.path.join("Resources", "JC-201906-citibike-tripdata.csv")

In [12]:
april_data_csv = pd.read_csv(April_Data)
may_data_csv = pd.read_csv(May_Data)
june_data_csv = pd.read_csv(June_Data)

full_Q2_table = pd.concat([april_data_csv, may_data_csv, june_data_csv])

In [13]:
full_Q2_table.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1
1,493,2019-04-01 12:41:09.6540,2019-04-01 12:49:23.0290,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1
2,512,2019-04-01 14:27:07.9400,2019-04-01 14:35:40.9370,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2
3,196,2019-04-01 15:07:38.1510,2019-04-01 15:10:54.6260,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1
4,463,2019-04-01 16:19:24.6940,2019-04-01 16:27:08.6450,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1
5,197,2019-04-01 16:48:52.6740,2019-04-01 16:52:10.1410,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26157,Subscriber,1960,1
6,242,2019-04-01 16:50:45.7350,2019-04-01 16:54:48.2610,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29640,Subscriber,1968,1
7,361,2019-04-01 17:17:45.1170,2019-04-01 17:23:46.7160,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26254,Subscriber,1980,1
8,78,2019-04-01 17:20:12.6650,2019-04-01 17:21:30.7450,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29629,Subscriber,1985,1
9,101,2019-04-01 17:20:37.7220,2019-04-01 17:22:19.5460,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29641,Subscriber,1969,0

In [14]:
full_Q2_table.tail(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
39420,586,2019-06-30 23:25:13.1970,2019-06-30 23:35:00.0580,3192,Liberty Light Rail,40.711242,-74.055701,3280,Astor Place,40.719282,-74.071262,29618,Subscriber,1979,1
39421,324,2019-06-30 23:26:49.4090,2019-06-30 23:32:13.9470,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,29465,Subscriber,1974,1
39422,395,2019-06-30 23:37:49.4750,2019-06-30 23:44:24.5350,3279,Dixon Mills,40.721630,-74.049968,3279,Dixon Mills,40.721630,-74.049968,29447,Subscriber,1973,1
39423,654,2019-06-30 23:38:21.5840,2019-06-30 23:49:15.8860,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26152,Customer,1969,0
39424,654,2019-06-30 23:38:22.9500,2019-06-30 23:49:17.9290,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26310,Customer,1990,2
39425,639,2019-06-30 23:38:29.5450,2019-06-30 23:49:09.2110,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,1986,1
39426,643,2019-06-30 23:38:34.9100,2019-06-30 23:49:17.9690,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,1990,2
39427,418,2019-06-30 23:42:30.9400,2019-06-30 23:49:29.5360,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,1979,1
39428,2529,2019-06-30 23:46:17.5700,2019-07-01 00:28:27.1710,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,1982,1
39429,831,2019-06-30 23:49:01.6830,2019-07-01 00:02:53.1150,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,1988,1

In [19]:
full_Q2_table.to_csv("CitiBikeData.csv", index=False)

In [20]:
full_Q2_table.count()

tripduration               108621
starttime                  108621
stoptime                   108621
start station id           108621
start station name         108621
start station latitude     108621
start station longitude    108621
end station id             108621
end station name           108621
end station latitude       108621
end station longitude      108621
bikeid                     108621
usertype                   108621
birth year                 108621
gender                     108621
dtype: int64

In [21]:
NY_Data = os.path.join("Resources", "201904-citibike-tripdata.csv")
NY_Data_File_DF = pd.read_csv(NY_Data)
NY_Data_File_DF.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1